@model ContentLengthViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <form asp-controller="Home" asp-action="Index" method="post">

        Contentlength:
        @*<label asp-for="ContentLength"  />*@
        <input type="text" asp-for="ContentLength" class="form-control" /><br />
        <strong>
            @*<label asp-for="message" />*@
            <input type="text" disabled class="form-control" asp-for="message" />
        </strong><br />
        <button type="submit"> Download</button>
        <button onclick="return cancelDownload()"> Cancel</button>

    </form>

</div>



<script>
    function cancelDownload() {
        $list = $("#state-target");
        $.ajax({
            url: "/Home/Cancel",
            type: "GET",
            data: { id: $("#country-target").val() },
            traditional: true,
            success: function (result) {
                alert(result);
            },
            error: function (res) {
                alert(res);
            }
        });

        return false;
    }
</script>